#waraper
{
	width: 1300px;
    height: auto;
    margin: auto;
    /*border: thin solid #000;*/

}
.ti1
{
    margin-top: 10px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 55px;
    text-align: center;
    margin-right: 180px;
    color: white;
    margin-bottom: -2px;
    /*font-family: 'Libre Franklin', sans-serif;*/
   	font-family: 'Allerta Stencil', sans-serif;
   	font-weight: bold;
}

.ti2
{
    text-align: center;
    /*font-family: 'Libre Franklin', sans-serif;*/
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 40px;
   	color: white;
    margin-top: 0px;
    font-weight: bold; 
}
header
{
	width: 1250px;
	height: 160px;
	background: #004669;
    margin-bottom: 5px;
    margin-left: 25px;
	/*border: thin solid #000;*/
	display: block;
    border-radius: 5px
}
#logo
{
	float: left;
	margin-left: 20px;
}
#menu
{
    width: 1250px;
    height: 50px;
    margin-left: 25px;
    background:#F0B429; 
}
#menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-left: 225px;
}
#menu #item
{
    float: left;

}
#menu #item a
{
    color: #FFFFFF;
    padding: 15px 30px;
    display: block;
    font-family:Arial, Helvetica, san serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
#menu #desple
{
    display: none;
    position: absolute;
}
#menu #desple a
{
    color:#004669;
    padding: 7px 30px;
}
#menu #item a:hover
{
    color:#004669;
    border-radius: 5px;
    font-weight: bold;
}
#menu #item:hover #desple
{
    display: block; 
    border-radius: 5px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: white;
}
#menu #item #desple a:hover
{
    background:#004669; 
    color:white;
    font-weight: bold;
}
#titulo1
{
    width: 1250px;
    height: 40px;
    display: block;
    background: #004669;
    margin-left: 25px;
    margin-bottom: 8px; 
}
#titulo1 h1
{
    font-size: 28px;
    text-align: center;
    padding: 0px;
    color: white;
    margin: 0px;
     font-family: Arial, Helvetica, sans-serif;     
}
#contenprincipal
{
    width: 700px;
    height: 700px;  
    margin-left: 25px;
    margin-top: -7px;
    float: left;
    background-image: url(../img/Logof.png);
    background-size: 650px;
    background-repeat: no-repeat;
}
#arti1
{
    width: 695px;
    height: 600px;  
    border: thin solid #000; 
}
#objetivo
{
     width: 690px;
     height: 30px;
     background: white;
     border-bottom:thin solid #000;
     display: block;
     margin: 0px;
}
#objetivo h1
{
    text-align: center;
    font-size: 25px;
    margin: 10px;
    padding: 0px;
    color:#004669;
    font-weight: bold;

}
#parrafo
{
    text-align: justify;
    font-size: 21px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

#inforelevante
{
    width: 550px;
    height: 700px;
    /*background: red;*/
    float: left;
    margin-top: -7px;
}















/*#menuprincipal
{
    width: 1250px;
    height: 50px;
    /*border: thin solid #000;
    margin-left: 25px;
    background-color:#F0B429;
}
#menuprincipal ul
{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin-left: 280px;
}
#menuprincipal ul li
{
    float: left;
    margin-right: 25px;
    font-size: 22px;
    width: inherit;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}
#menuprincipal ul li a
{
    display: block;
    text-decoration: none;
    color: black;
}
#menuprincipal ul li a:hover
{
    color: #004669;
    border-radius: 5px;
} 
#contenprincipal
{
    width: 1250px;
    height: 400px;
    border: thin solid #000;
    margin-left: 25px;
    margin-top: 5px; 
}*/ 